# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.vscode

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
classes
logs

# other
eclipse
run
output/
libs/
*.architectury-transformer